/* slide slideshow-container */
* {box-sizing: border-box;}
body {font-family: 'Times New Roman', Times, serif}
.mySlides {display: none;}

img {vertical-align: middle;
    height: 200px;
    width: 300px;
}

/* carrossel container */
.slideshow-container {
  max-width: 300px;
  position: static;
  margin: auto;
}

/* Caption text */
.text {
  color: black ;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  width: 100%;
  text-decoration: underline black;
  
  
}


/*  dots do slide show */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(236, 223, 30);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
            
}

.active {
  background-color: #e68b14;
}

/* animação de Fading */
.fade {
  animation-name: fade;
  animation-duration: 1.5;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
 
}
/* Página + header/nav */
  * {
    margin:0;
    padding:0;
  }
  body {
    background-color: rgb(7, 88, 7);
    font-family: 'Raleway', sans-serif;
  }
  #ribbon {
    position:relative;
    background-color:rgb(81, 230, 155);
    color:rgb(8, 146, 8);
    top:40px;
    left:-30px;
    width:160px;
    transform:rotate(-45deg);
    text-align:center;
  }
  #container {
    position:relative;
    width:80%;
    margin:5% auto;
    background-color:black;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
  }
  #container > nav {
    width:100%;
    display:flex;
    max-height:60px;
  }
  #logo {
    line-height:60px;
    font-size:30px;
    padding: 0 50px;
    color: yellowgreen;
    width:40%;
    letter-spacing:2px;
    text-shadow:2px 2px 5px;
  }
  #container > nav > ul {
    margin:0;
    paddding:0;
    list-style-type:none;
    display:flex;
    position:absolute;
      right:50px;
  /*   min-width:60%; */
  }
  #container > nav > ul > li {
    line-height:60px;
    margin: 0 0px;
    padding:0;
    text-align:center;
    display:inline-block;
    
  /*   background-color:green; */
    min-width:120px;
  
  } 
  #container > nav > ul > li > a {
    position:relative;
  /*   cor da escrita nav */
    margin: 0 20px;
      color:yellowgreen;
  }
  
  #container > nav > ul > li:hover {
    border-bottom: 2px solid rgb(8, 146, 8);
    background-color: darkgreen;
  }
  #container > nav > ul > .dropdown:hover {
    border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover >  .dd
  {
    display:block;
  }
  .dropdown:hover > a .fa-caret-down {
    display:none;
  }
  a {
    text-decoration:none;
  
  }
  
  #container > nav > ul > li > div {
    position:absolute;
    padding: 0 10px;
    border: solid rgb(11, 29, 6);
    background-color:black;
    display:none;
    background-color: rgb(4, 112, 9);
    width: 120px;
  }
  
  #container > nav > ul > li > div > ul {
    margin:0px 0 10px 0;
    padding:0;
    list-style: disc;
  }
  #u_a_c {
    position:relative;
    width:100%;
  
  }
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:rgb(81, 206, 90);
    transform:rotate(45deg);
    border: solid orange;
    border-radius: 5px;
  }
  #container > nav > ul > li> div > ul > li:hover {
    background-color:rgba(0,0,0,0.2);
  }
  #container > nav > ul > li > div > ul > li > a {
    padding : 5px;
      color:black;
  }


  /*galeria de imagens dos produtos */
  
  div.gallery {
    
    margin: 20px;
    border: 1px solid rgb(5, 61, 7);
    float: left;
   width: 180px;
   text-align: center;
   background-color: rgb(23, 122, 44);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 178px;
    height: 180px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


  /* padrão do texto central*/
article {
  background-color: rgb(14, 104, 33);
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  

}
/* tabela nos produtos */
table {
  margin-left: 20%;
  text-align: center;
  }

th {
  background-color: rgb(18, 170, 18);
  box-sizing: unset;
  padding: 10px;
  
}
